@charset "UTF-8";

/*index.htmlのヘッダー*/
body {
    /*ヘッダスクロール時、上部の隙間防止(0で隙間を無くす)*/
    margin: 0;
    padding: 0;
}

.wrapper {
    background-image: url(../images/neon-background.png);
    background-attachment: fixed;   /*背景固定*/
    width: 100%;
}

h1 {
    font-size: xx-large;
}

/*上のメニュー固定用*/
header {
    width: 100%;
    background-color: rgba(95, 88, 88, 0.438);
    position: fixed;
    display: flex;
}       

.menu ul{
    display: flex;
    list-style: none;
    margin-top: 60px;/*トップのメニューの上下位置調整*/
}

.menu li{
    margin-right: 80px;
    font-size: x-large;
}

.logo img{
    width: 110px;
    height: auto;
    margin-right: 350px;
    margin-left: 0;
    margin-top: 20px;
}

/*2021_0813リンクの文字色は後で詰める。大まかな形だけ*/
header a:link {
    color: whitesmoke;
    text-decoration: none;
}
header a:visited {
    color: whitesmoke;
    text-decoration: none;
}
header a:hover {
    color: #7b8dac;
    text-decoration: none;
}
header a:active {
    color: #5a9bc0;
    text-decoration: none;
}


/*keyvisual*/

/*スペースを無理やり作って確保している（他にもっといいのがあればそれがいい）*/
.keyvisual {
    height: 500px;
}

/*スライドショーの設定*/
.slide_img > img{
    width: 400px;   /*大きさは仮*/
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}


/*all_contents*/ 
/*各contentsの共通部分*/
/*半透明の白いところ*/

.time_schedule {
    background-color: rgba(136, 125, 125, 0.37);
    text-align: center;
    color: rgb(247, 243, 243);
    padding-bottom: 10px;
    margin-bottom: 0;
    text-shadow:  2px  2px 10px #777 ,
    -2px  2px 10px #777 ,
     2px -2px 10px #777 ,
    -2px -2px 10px #777;
    /*<参考：文字を浮かび上がらせる>https://webparts.cman.jp/string/outline/*/
}
.time_schedule > ul > li{
    display: block;
    list-style-type: none;
    border: solid;
    border-color:honeydew;
    border-width: 1px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 300px;
    margin-left: 250px
}
.time_schedule > ul > li > .time{
    color: rgb(247, 243, 243);
    font-weight: bold;
}

.all_contents {
    background-color: rgba(248, 246, 246, 0.938);
    text-align: center;
    width: 100%;
}

.all_contents > h1 {
    margin-top: 0;
    padding-top: 10px;
    color: rgb(126, 121, 121);
}

/*idタグによる個別の変更*/
#contents {
    margin-top: 200px;
}

#onlinelive{
    margin-top: 30px;
}

#askexam {
    margin-top: 200px;
    margin-bottom: 200px;
}

footer {
    margin-top: 0;
}

.footer-container {
    color: whitesmoke;
    text-align: center;
}


/*SNSアイコンの大きさ調整*/
.SNS img{
    width: 100px;
    height: auto;
}


/*スマートフォン向けCSS*/
@media(max-width:767px){

/*ヘッダの表示*/
header {
    width: 100%;
    background-color: rgba(95, 88, 88, 0.438);
    position: fixed;
    display: inline;
}       

.menu ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu li{
    font-size: medium;
}

/*アコーディオンが正常に出来た場合はwidthにサイズを入れる*/
.logo img{
    width: 0px;
    height: auto;
    margin: 10 0 0 0;
    padding: 0 0 0 0;

}


/*スケジュール表位置*/
.time_schedule > ul {
    display: block;
}

.time_schedule > ul > li{
    width: 80%;
    margin-left: 40px;
    padding-right: 0;
    text-align: left;
    margin-right: 0;
}


/*SNSアイコンの大きさ調整*/
.SNS img{
    width: 80px;
    height: auto;
}
}